@font-face {
    font-family: 'Boogaloo-Regular';
    src: url('../fonts/Boogaloo-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
  }


    body{
    background-color: rgb(186, 255, 240);
}
hr{
    border-radius: 20px;
    height: 10px;
    width: auto;
    background: linear-gradient(rgb(0, 0, 0),rgb(171, 255, 251));
}
h1{
    text-align: center;
    font-family: Boogaloo-Regular;
    font-size: 60px;
    color: black;
}
ul{
    list-style: none;
    text-align: center;
    margin-right: 40px;
}

nav li{
    display: inline;
    margin-left: 25px;
}

nav a{
    font-family: Boogaloo-Regular;
    color: #000000;
    position: relative;
    font-size: 40px;
}

nav a:hover{
    font-family: Boogaloo-Regular;
    color: rgb(255, 0, 0);
    position: relative;
    font-size: 45px;
}

.boqueron{
    font-family: Boogaloo-Regular;
    font-size: 40px;
}

.welcome{
    font-family: Boogaloo-Regular;
    font-size: 40px;
}

.boqueron p{
    font-family: Boogaloo-Regular;
    font-size: 40px;
    margin-left: 450px;
}

.welcome{
    font-family: Boogaloo-Regular;
    font-size: 40px;
}

.planboqueron p{
    font-family: Boogaloo-Regular;
    font-size: 40px;
    margin-left: 450px;
}


.boqueron img{
    margin-left: 0px;
    margin-top: -150px;
    width: 400px;
    border-radius: 20px;
}

.planboqueron img{
    margin-left: 0px;
    margin-top: -200px;
    width: 400px;
    border-radius: 20px;
}

.francia p{
    margin-top: 100px;
    font-family: Boogaloo-Regular;
    font-size: 40px;
    margin-left: 450px;
}


.francia img{
    margin-left: 0px;
    margin-top: -490px;
    margin-bottom: 100px;
    width: 350px;
    border-radius: 20px;
    height: 400;
}

/**/
.planfrancia p{
    margin-top: 100px;
    font-family: Boogaloo-Regular;
    font-size: 40px;
    margin-left: 450px;
}


.planfrancia img{
    margin-left: 0px;
    margin-top: -550px;

    width: 350px;
    border-radius: 20px;
    height: 400;
}

.niagara p{
    margin-top: 100px;
    font-family: Boogaloo-Regular;
    font-size: 40px;
    margin-left: 450px;
}


.niagara img{
    margin-left: 0px;
    margin-top: -150px;
    width: 350px;
    border-radius: 20px;
    height: 400;
}
/**/
.planniagara p{
    margin-top: 100px;
    font-family: Boogaloo-Regular;
    font-size: 40px;
    margin-left: 450px;
}


.planniagara img{
    margin-left: 0px;
    margin-top: -600px;

    width: 350px;
    border-radius: 20px;
    height: 400;
}


header img{
    margin-left: 880px;
    width: 100px;
}

footer{
    margin-top: 90px;
    font-size: 40px;
    text-align: justify;
}